<!doctype html>
<title>{% block title %}{% endblock %} - Sales Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">

<div class="nav">
  <h1>Sales Manager</h1>

  <ul>
    <li><a  href="{{ url_for('stock.index')}}">stock</a></li>
    <li><a  href="{{url_for('stock.getStockTransactions')}}">log</a></li>
    <li><a  href="{{url_for('sales.getSalesTransactions')}}">Sales</a></li>
  </ul> 
</div>
<section class="row">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>