/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MAINTENANCE TRACKER CODE */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
input[type=text], input[type=password], textarea, select {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
}

input[type=submit] {
    width:100%;
    background-color: royalblue;
    color:white;
    padding: 5px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: ghostwhite;
}

.general-form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.general-form textarea{
 resize: none;
}

.general-form h2 {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}


 #login {
	 margin-left: auto;
	 margin-right: auto;
	 width: 100%;
	 margin-top: calc(100vh/3);
     margin-bottom: calc(100vh/3);
     padding: 15px;
     border-radius: 5px;
     background-color: #F0F0F0;
 }


#login h2 {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.table-container h2 {
     text-align: center;
     font-size: 20px;
     line-height: 30px;

}

#tbl {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tbl td, #request th {
    border: 1px solid #C0C0C0;
    padding: 8px;
}


#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: royalblue;
    color: white;
    border: 1px solid #C0C0C0;
}

#tbl tr:nth-child(even){
    background-color: #F0F0F0;
}

#tbl tr:hover {
    background-color: #C0C0C0;
}
 
[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width: 1000px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #login {
        width: 400px;
        margin-top: calc(100vh/3);
        margin-bottom: calc(100vh/3);
    }

    .general-form {
        width: 70%;
        margin: auto;
    }

    .general-form select {
        width: 200px;
    }

    .general-form span {
        padding-right: 26px;
    }

    .table-container  {
        width: 70%;
        margin: auto;

    }

    .wrap {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        background-color: ghostwhite;
    }

    .nav ul, h1 {
        width: 70%;
        margin: auto;
    }

}

